<script>
    import { getContext } from "svelte";
    import { setContent } from "@your-connex/calendar-core";
    import { createAllDayContent } from "./utils.js";

    let { allDayContent, theme, _times } = getContext("state");

    let allDayText;
    $: allDayText = createAllDayContent($allDayContent);
</script>

<div class={$theme.sidebar}>
    <div class={$theme.sidebarTitle} use:setContent={allDayText} />
    {#each $_times as time}
        <div class={$theme.time} use:setContent={time} />
    {/each}
</div>
<div class={$theme.days}>
    <div class={$theme.lines}><slot name="lines" /></div>
    <slot />
</div>
