<script>
    import { getContext } from "svelte";
    import { setContent } from "@your-connex/calendar-core";
    import Section from "./Section.svelte";
    import Body from "./Body.svelte";
    import Day from "./Day.svelte";
    import Week from "./all-day/Week.svelte";

    let { _viewDates, _intlDayHeader, allDaySlot, theme } = getContext("state");
</script>

<div class={$theme.header}>
    <Section>
        {#each $_viewDates as date}
            <div
                class="{$theme.day} {$theme.weekdays?.[date.getUTCDay()]}"
                use:setContent={$_intlDayHeader.format(date)}
            />
        {/each}
    </Section>
    <div class={$theme.hiddenScroll} />
</div>
{#if $allDaySlot}
    <div class={$theme.allDay}>
        <div class={$theme.content}>
            <Section>
                <Week dates={$_viewDates} />
            </Section>
            <div class={$theme.hiddenScroll} />
        </div>
    </div>
{/if}
<Body>
    {#each $_viewDates as date}
        <Day {date} />
    {/each}
</Body>
