<script>
    import { getContext } from "svelte";
    import { bgEvent, helperEvent } from "@your-connex/calendar-core";

    export let event;

    let { theme, eventDurationEditable, editable } = getContext("state");

    let resizable;
    $: resizable =
        !bgEvent(event.display) &&
        !helperEvent(event.display) &&
        ((event.durationEditable ?? $eventDurationEditable) ||
            (event.editable ?? $editable));
</script>

{#if resizable}
    <div class={$theme.resizer} on:pointerdown />
{/if}
